<div highlighted class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<ng-template [ngIf]="courses[0]" let-course>
    <div class="courses">

        <!--O termo "highlighted" é uma diretiva criada através do comando: "ng g directive directives/highlighted"
        Ele cria uma diretiva que pode ser usada em todo o projeto e pode receber um estilo próprio no arquivo styles.css
        Verificar o arquivo "directives/highlighted.ts" para ver como funciona a sua implementação-->
        <course-card highlighted #highlighter="hl"
                (toggleHighlighted)="onToggle($event)"
                (courseSelected)="onCourseSelected($event)"
                    [course]="course">
            <course-image [src]="course.iconUrl" *ngxUnless="!course.iconUrl"></course-image>

            <div class="course-description" (dblclick)="highlighter.toggle()">
                {{ course.longDescription }}
            </div>
        </course-card>
    </div>
</ng-template>

